*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

a {
  color: #fff;
  text-decoration: none;
}

fieldset {
  border: none;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-inline-size: 1140px;
  inline-size: 100%;
}

.result__video-container {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 16px;
  overflow: hidden;
  inline-size: 711px;
  block-size: 386px;
}

.result__video {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.button {
  border: 1px solid #fff;
  color: #FFFFFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 22px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset:first-child {
  max-inline-size: 225px;
  inline-size: 100%;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  color: #FFFFFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 22px;
}

.search-form__label {
  width: fit-content;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* Отступы для выравнивания рамки */

.search-form__label:has(.search-form__pseudo-checkbox) {
  padding: 0 5px;
}

.search-form__textfield {
  border-top: 1px solid #fff;
  border-right: none;
  border-bottom: 1px solid #fff;
  padding: 3px 0;
  outline: none;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 22px;
  background-color: transparent;
  inline-size: 100%;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__checkbox-list {
  display: flex;
  gap: 5px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 3px;
  vertical-align: middle;
  outline: 1px solid #fff;
  outline-offset: 1px;
  background-color: transparent;
}

.search-form__pseudo-checkbox:last-child {
  margin-right: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  background-color: #fff;
}

.search-form__label-text {
  display: inline-block;
  color: #FFFFFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  vertical-align: middle;
  font-style: normal;
  line-height: 22px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.search-form__submit-button {
  align-self: flex-end;
  padding: 7px 73px;
}

.content__details {
  max-inline-size: 399px;
  inline-size: 100%;
}

.title {
  margin-bottom: 26px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  overflow: auto;
  block-size: 298px;
}

/* Фикс для двойного gap после нажатия кнопки показать ещё */

.content__list li:empty{
  display: none;
}

.content__card-link {
  display: block;
  margin: 2px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  text-decoration: inherit;
}

.content__video-card-description-container {
  text-decoration: inherit;
  max-inline-size: 186px;
  inline-size: 100%;
}

.content__video-card-title {
  display: block;
  margin-bottom: 6px;
  overflow: hidden;
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  line-height: 100%;
  text-decoration: inherit;
  text-transform: uppercase;
  text-overflow: ellipsis;
  max-inline-size: inherit;
}

.content__video-card-description {
  display: block;
  color: #FFFFFF;
  font-family: 'Fira Sans Condensed',sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 16px;
  text-decoration: inherit;
  max-inline-size: inherit;
}

.content__video-card-thumbnail {
  max-inline-size: 194px;
}

.more-button {
  margin: 2px;
  padding: 6px 0;
  inline-size: calc(100% - 4px);
}
